################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RDLC_CORE/.vs/RDLC_CORE/v17
/RDLC_CORE/RDLC_CORE/obj
/RDLC_CORE/RDLC_Helper/obj/Debug
/RDLC_CORE/.vs/RDLC_CORE/FileContentIndex
