@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h1 class="display-4">Welcome To Nayeem World</h1>
            <h1 class="display-4">Rdlc Report</h1>
        </div>
        <div class="card-body">
            <a href="/Employee/EmployeeReport/Report" class="btn btn-lg btn-primary">Show Report</a>
        </div>
    </div>
    
</div>
