@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Nayeem World</h1>
    <h1 class="display-4">Rdlc Report</h1>
    <a href="/Employee/EmployeeReport/Report" class="btn btn-primary">Show Report</a>
</div>
