USE [master]
GO
/****** Object:  Database [EmployeeWpfDB]    Script Date: 12/25/2022 10:14:14 PM ******/
CREATE DATABASE [EmployeeWpfDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeWpfDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmployeeWpfDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeWpfDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmployeeWpfDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeWpfDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeWpfDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 12/25/2022 10:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDetails]    Script Date: 12/25/2022 10:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[IsActive] [bit] NULL,
	[DepertmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeDetails]  WITH CHECK ADD FOREIGN KEY([DepertmentId])
REFERENCES [dbo].[Department] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetEmployeeDetails]    Script Date: 12/25/2022 10:14:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_GetEmployeeDetails]
AS
BEGIN
SELECT e.Id as EmployeeId,e.Name as EmployeeName,e.Age,e.Address,e.DateOfBirth,e.Gender,d.Name as DepartmentName
FROM EmployeeDetails e
INNER JOIN Department d ON e.DepertmentId=d.Id
END
GO
USE [master]
GO
